@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
body {
  font-family: "Poppins", sans-serif;
  color: rgb(48, 48, 48);
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  /* border-bottom: 0.5px solid grey; */
  box-shadow: 0px 15px 15px -15px #111;
}

/* .logo {
  width: 80px;
  margin-top: -5px;
} */

/* .logo-container .logo {
  margin-top: -5px;
} */

.nav-items {
  padding: 0px 20px;
  padding-top: 25px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  font-weight: 600;
}

.nav-items > ul > li {
  padding-top: 3px !important;
  margin-right: 45px;
}

.nav-items > ul > li:hover {
  color: #ff5301;
}

.nav-items ul {
  display: flex;
  align-items: center;
  gap: -50px;
}

.nav-items i {
  margin-top: 5px;
}

.search {
  height: 330px;
  background-color: #ff5301;
  display: grid;
  justify-content: center;
  align-items: center;
}

.search img {
  position: absolute;
  margin-left: 0%;
  width: 15%;
  height: 70%;
  margin-top: 250px;
}

#right {
  position: absolute;
  margin-left: 85%;
  width: 15%;
  height: 70%;
  margin-top: -18%;
  /* overflow-x: hidden; */
}

h2 {
  color: white;
  font-size: 40px;
  font-weight: 600;
  place-items: center;
}

input {
  /* padding: 18px 80px; */
  width: 400px;
  height: 60px;
  border-radius: 12px;
  border: none;
  padding-left: 15px;
  font-size: 16px;
  margin-top: -120px;
  margin-left: 25%;
}

button {
  margin-left: 10px;
  padding: 18px 22px;
  border-radius: 12px;
  border: none;
  font-size: 15px;
}

.res-container {
  max-width: 800px;
  margin-left: 15%;
  margin-top: 25px;
}

.res-cards {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 400px;
  /* background-color: #fcd0bb; */
  /* margin-left: -75px; */
  flex-wrap: wrap;
  gap: 10;
  padding-left: -50px;
}

hr {
  max-width: 1200px;
  margin-left: 10%;
}

.res-container h3 {
  color: black;
  font-weight: 600;
  font-size: 21px;
}

.heading {
  margin-left: -80px;
  font-weight: 700 !important;
  font-size: 25px !important;
}

.varities {
  background-color: #ff5301;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60;
  padding-bottom: 50px;
}

.card1 {
  height: 280px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  border-radius: 32px;
  padding-top: 25px;
  padding-left: 20px;
}

.arrow svg {
  background-color: #f8c3ab;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  color: #fff;
  margin-top: 95px;
}

.card2 {
  height: 280px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  border-radius: 32px;
  padding-top: 25px;
  padding-left: 20px;
}

.card3 {
  height: 280px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  border-radius: 32px;
  padding-top: 25px;
  padding-left: 20px;
}

h1 {
  color: #444248;
}

h3 {
  font-weight: 500;
  color: #8e8f93;
  letter-spacing: -0.015em;
}

h4 {
  margin-top: 12px;
  font-weight: 600;
  color: #ff5301;
  background: linear-gradient(90deg, rgb(255, 220, 154), white);
  width: 160px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-left: 10px;
}

.res-card {
  height: 150px;
  width: 250px;
  background-color: #fcd0bb;
  border-radius: 25px;
  margin-top: 15px;
}

.res-card img {
  height: 180px;
  width: 280px;
  border-radius: 18px;
}

.res-card h3 {
  font-weight: 700;
}

.res-card p {
  color: grey;
  font-size: 15px;
}

.res-card:hover {
  cursor: pointer;
}

.res-cards {
  margin-left: -70px;
}

.res-card .rating {
  background-color: rgb(37, 211, 37);
  width: fit-content;
  padding: 3px 8px;
  border-radius: 5px;
  color: white;
  font-size: 13px;
}

.res-card i {
  color: white;
}

.res-card .time {
  color: #7b7b7b;
}

.res-card .map {
  color: rgb(255, 105, 105);
}

/* .restaurant {
  display: grid;
  grid-template-columns: auto;
}

.restaurant p {
  padding: 20px 10px;
  border: 1.2px solid gray;
  border-radius: 18px;
  color: #8e8f93;
  width: 250px;
} */

.res-container {
  padding: 20px;
  padding-bottom: 60px !important;
}

.heading {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

.restaurant {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  grid-template-rows: repeat(3, auto); /* 3 rows */
  gap: 30px;
}

.restaurant p {
  width: 240px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 12px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  border: 1.5px solid lightgray;
  color: #444248;
  font-weight: 600;
  margin-left: -80px;
  margin-right: 110px;
}

.restaurant p:last-of-type {
  color: #ff5301;
}

path {
  color: #ff5301 !important;
}

.footer {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f5;
}

.footer p {
  font-weight: 750;
  font-size: 25px;
}

.footer img {
  width: 290px;
  height: 90px;
}

.hero .heading {
  margin-left: 11%;
  margin-top: 30px;
  color: black;
}

.dishes {
  display: flex;
  margin-left: 10%;
  gap: 20;
}

.dishes img {
  width: 145px;
  height: 190px;
}

.mobile-section {
  width: 1338px;
  height: 200px;
  background-color: #161a1e;
  padding-left: 12%;
  padding-top: 4%;
  overflow-x: hidden !important;
}

.mobile-section h2 {
  font-size: 55px;
  align-items: center;
  color: #ff5301;
}

.mobile-section p {
  font-size: 20px;
  color: #8e8f93;
  margin-top: 10px;
}

.footer {
  background-color: #f7f7f7;
  padding: 40px 0px;
  font-family: Arial, sans-serif;
  color: #f0f0f5;
  overflow-x: hidden;
  overflow-y: hidden;
}

.footer-top {
  display: grid;
  grid-template-columns: 1.5fr repeat(4, 1fr);
  gap: 40px;
}

.footer-brand .brand {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo {
  font-size: 60px;
}

.brand-name {
  font-size: 32px;
  font-weight: bold;
  margin-top: 12px;
  color: #fc8019;
}

.footer-brand p {
  margin-top: 12px;
  font-size: 14px;
}

.footer-column h4 {
  font-size: 16px;
  margin-bottom: 12px;
  color: #000;
  background: transparent;
  margin-left: -10px;
}

.footer-column p {
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: 500 !important;
  cursor: pointer;
}

.footer-column p:hover {
  color: #fc8019;
}

.mt {
  margin-top: 20px;
}

.city-select {
  margin-top: 10px;
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.social-icons {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.social-icons span {
  font-size: 20px;
  cursor: pointer;
}

.social-icons span:hover i {
  color: #fc8019;
}

hr {
  margin: 40px 0;
  border: none;
  border-top: 1px solid #dcdcdc;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-bottom h3 {
  font-size: 20px;
  font-weight: 600;
}

.app-buttons {
  display: flex;
  gap: 16px;
}

.store-btn {
  background: #000;
  color: #fff;
  padding: 12px 18px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}
